/* @font-face {
    font-family:"bubblegum-pop-highlight", sans-serif ;
    src: url(https://use.typekit.net/eja3aen.css);
} */
.font1{
    font-family:"bubblegum-pop-highlight", sans-serif;
}

.font2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.font3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}